{% extends "layouts/layout.twig" %}

{% block title %}
    Кабинет пользователя
{% endblock %}

{% block description %}

{% endblock %}

{% block content %}
    <div class="container pb-3 mb-12">
        <div class="row mt-3">
            <div class="col-md-12 mt-5">
                <h1 class="text-center mb-4">Выбор тарифа подписки</h1>
                <p class="text-center mb-5">
                  <small>Выберите подходящий тарифный план для получения полного доступа к скачиванию файлов.</small>
                </p>
                
                <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                    <!-- 1 месяц -->
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal">1 месяц</h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">299<small class="text-muted fw-light"> руб.</small></h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>Полный доступ к документам</li>
                                    <li>Скачивание без ограничений</li>
                                    <li>Поддержка</li>
                                    <li>Действует 30 дней</li>
                                </ul>
                                <a href="/payment/process?plan=1_month" class="w-100 btn btn-lg btn-outline-primary">Выбрать тариф</a>
                            </div>
                        </div>
                    </div>
                    
                    <!-- 1 год -->
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm border-primary">
                            <div class="card-header py-3 text-white bg-primary border-primary">
                                <h4 class="my-0 fw-normal">1 год</h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">1499<small class="text-muted fw-light"> руб.</small></h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>Полный доступ к документам</li>
                                    <li>Скачивание без ограничений</li>
                                    <li>Поддержка</li>
                                    <li>Действует 365 дней</li>
                                </ul>
                                <a href="/payment/process?plan=1_year" class="w-100 btn btn-lg btn-primary">Выбрать тариф</a>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Навсегда -->
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal">Навсегда</h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">1990<small class="text-muted fw-light"> руб.</small></h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>Полный доступ к документам</li>
                                    <li>Скачивание без ограничений</li>
                                    <li>Приоритетная поддержка</li>
                                    <li>Разовый платеж, доступ навсегда</li>
                                </ul>
                                <a href="/payment/process?plan=lifetime" class="w-100 btn btn-lg btn-outline-primary">Выбрать тариф</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
