{% extends 'layouts/layout.twig' %}


{% block title %}
    Страница не найдена - 404 ошибка.
{% endblock %}

{% block description %}
    Запрашиваемая страница не найдена. Ошибка 404.
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Страница не найдена!</h1>
                <p class="mt-3">Запрашиваемая страница не найдена.</p>
                <p>Вернуться <a href="/">на главную</a></p>
            </div>
        </div>
    </div>
{% endblock %}