<footer class="footer mt-auto py-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 my-3">
                <div class="d-flex flex-column py-3">
                    <small class="text-muted ">©2024-{{ 'now' | date('Y') }} ot-doc.ru. Шаблоны документов по охране труда.</small>
                    <small class="text-muted">Сервис содержит образцы документов по охране труда (инструкции, приказы, положения и т.д.) для скачивания и дальнейшего использования в работе.</small>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 my-3">
                <h6 class="mb-3 text-center">Разделы сайта:</h6>
                <div class="d-flex flex-row justify-content-around">
                    <ul class="nav flex-column">
                        <li class="nav-item"><a href="/document/instructions" class="nav-link">Инструкции</a></li>
                        <li class="nav-item"><a href="/document/orders" class="nav-link">Приказы</a></li>
                        <li class="nav-item"><a href="/document/provisions" class="nav-link">Положения</a></li>
                    </ul>
                    <ul class="nav flex-column">
                        <li class="nav-item"><a href="/document/programs" class="nav-link">Программы</a></li>
                        <li class="nav-item"><a href="/document/journals" class="nav-link">Журналы</a></li>
                        <li class="nav-item"><a href="/document/other" class="nav-link">Прочее</a></li>
                    </ul>
                </div>



            </div>
        </div>



    </div>
</footer>