<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="{{ init.PATH }}/assets/adminLte/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/admin/document/instructions" class="nav-link">
                        <p>
                            Инструкции
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/document/orders" class="nav-link">
                        <p>
                            Приказы
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/document/provisions" class="nav-link">
                        <p>
                            Положения
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/document/journals" class="nav-link">
                        <p>
                            Журналы
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/document/programs" class="nav-link">
                        <p>
                            Программы
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/document/other" class="nav-link">
                        <p>
                            Прочее
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>