<h1>Добро пожаловать!</h1>
<p>
    Спасибо за регистрацию на нашем сайте.
</p>
<p>
    Ваш email: {{ email }}
</p>
<p>
    Для подтверждения адреса электронной почты, используйте пожалуйста данную ссылку {{ link }}
</p>